.app-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    margin: auto;
    margin-top: 2rem;
}

.card-content {
    display: flex;
    flex-direction: column;
}